<div class="flex flex-centered-all full-content {{#if fade}}fade{{/if}}">
    <div class="centered-form-block flex-centered-all centered-form {{#if bordered}}div-page{{/if}}">
        <div class="flex flex-centered-all bold mb-2 centered_form_title {{#if smallHeader}}small-header{{/if}}">
            {{title}}
        </div>
        <div class="w-100 flex-centered-all">
            {{> @partial-block }}
        </div>
    </div>
</div>
