{{#> CenterdFormPage title="Тестирование" fade=true bordered=true smallHeader=true}}
    <div class="form-div">
            <ul>
            <li><a href="/login" target="_blank">Форма входа</a></li>
            <li><a href="/registration" target="_blank">Форма регистрации</a></li>
            <li><a href="/profile" target="_blank">Профиль</a></li>
            <li><a href="/main" target="_blank">Главная страница</a></li>
            <li><a href="/404" target="_blank">Страница 404</a></li>
            <li><a href="/500" target="_blank">Страница 5xx</a></li>
            </ul>
        <span style="color: darkgoldenrod; font-size: 90%">Данная страница не является частью проекта и предназначена для<br>
        упрощения тестирования и проверки макетов спринта №1.<br>
        </span>
    </div>
{{/CenterdFormPage}}
