.text-input {
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  height: var(--input-height);
  color: var(--color-dark);
  font-size: 14px;
  padding: 0 0 0 15px;
  box-shadow: none;
  min-width: 100%;
  box-sizing: border-box;
}

.text-input-label {
  position: absolute;
  left: 10px;
  top: 7px;
  pointer-events: none;
  transform-origin: left center;
  transition: transform 250ms;
  background-color: var(--color-light);
  padding-left: 5px;
  padding-right: 5px;
  color: var(--color-grey);
  font-size: 14px;
}

input:focus,
input:hover {
  outline: none;
  border-color: var(--color-primary);
}

input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translateY(-90%) scale(0.75);
}

input::placeholder {
  color: transparent;
}
