<form name="search-form" class="flex components-padding mb-1 w-100" onsubmit="return false;">
    <div class="flex-all">
        {{> InputText name="search" type="text" placeholder='Поиск...'}}
    </div>
    <div class="icon-button icon-button-middle">
        {{> SVGSearch }}
    </div>
</form>
