.button {
  border: 0;
  border-radius: 5px;
  height: 2rem;
  box-shadow: none;
  cursor: pointer;
  font-size: var(--button-font-size);
}

.button-active {
  color: white;
  background-color: var(--color-secondary);
}

.button-active:hover {
  background-color: var(--color-primary);
}

.button-outlined {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: var(--color-light);
}

.button-outlined:hover {
  color: var(--color-primary);
}

.button-text {
  color: var(--color-secondary);
  background-color: var(--color-light);
}

.button-text:hover {
  color: var(--color-primary);
}

.icon-button {
  padding: 2px;
  fill: var(--color-grey);
}

.icon-button:hover {
  fill: var(--color-primary)
}

.icon-button-middle {
  height: 30px;
  width: 30px;
}

.icon-button-huge {
  height: 80px;
  width: 80px;
}
