<form name="message-form" class="flex left-panel-footer w-100 components-padding" onsubmit="return false;">
    <div class="icon-green icon-button-small">
        {{> SVGOk }}
    </div>
    <div class="ml-1 flex-all">
        Вы в сети
    </div>
    {{#> IconButton className="icon-button-middle" }}
        {{> SVGAdd}}
    {{/IconButton}}
</form>
