<div class="flex feed-wrapper flex-all h-100">
    <div class="flex flex-scroll-container-vertical feeds-body">
        {{> FeedsHeader ChatInfo=ChatInfo }}
        {{> FeedsList }}
        {{> FeedsFooter }}
    </div>
</div>
