<div class="flex feeds-footer components-padding w-100">
    <div>
        {{#> IconButton className="icon-button-middle" }}
            {{> SVGAttach}}
        {{/IconButton}}
    </div>
    <div class="flex-all">
        {{> InputText placeholder="Введите сообщение" }}
    </div>
    <div class="ml-1">
        {{#> IconButton className="icon-button-middle" }}
            {{> SVGSend}}
        {{/IconButton}}
    </div>
</div>
