{{#> CenterdFormPage title="404" fade=false}}
    <div class="flex flex-centered-all flex-direction-column">
        <h2 class="text-error">Страница не найдена</h2>
        <p class="mt-1 link">Вернуться к чатам</p>
    </div>
{{/CenterdFormPage}}
