{{#> CenterdFormPage title="Аааaaаааа..." fade=false bordered=true }}
    <div class="flex flex-direction-column page-error-message-div ">
        <h2 class="text-error">Произошла ошибка!</h2>
        <h4 class="mt-1 text-italic text-grey2">Скоро мы все починим :)</h4>
        <p class="mt-3 mb-1 bold text-grey w-100">А пока попробуйте:</p>
        <p class="mt-1 ml-2 link w-100">Перезайти</p>
        <p class="mt-1 ml-2 link w-100" >Вернуться к чатам</p>
    </div>
{{/CenterdFormPage}}
