<div class="flex main-page-component-header components-padding">
    {{> Avatar text="Пупка Васин" className="pointer" iconClass="icon-button-middle"}}
    {{#> IconButton className="icon-button-middle color-primary" }}
        {{> SVGMore}}
    {{/IconButton}}
</div>
