<div class="flex left-panel-header components-padding main-page-component-header w-100">
    {{> Avatar text="Вася Пупкин" iconClass="icon-button-middle"}}
    {{#> IconButton className="icon-button-middle color-primary" }}
        {{> SVGMore}}
    {{/IconButton}}
</div>
