.centered-form {
  background-color: white;
}

.centered-form-block {
  flex-direction: column;
  padding: 2vh 2vw;
  min-width: 25%;
}

.centered-form-title {
  font-size: 3rem;
  color: var(--color-primary);
  text-shadow: 1px 1px 2px red;
}

.small-header {
  font-size: 2.3rem !important;
}
