{{#> CenterdFormPage title="Вход" fade=true bordered=true}}
    <div class="form-div">
        {{> InputText login }}
        {{> InputText password }}
        {{> SquareButton login_button }}
        {{> SquareButton registration_button }}
    </div>
{{/CenterdFormPage}}
