{{#> CenterdFormPage title="Вход" fade=true bordered=true}}
    <form class="form-div" onsubmit="return false;">
        {{> InputText login }}
        {{> InputText password }}
        {{> SquareButton login_button }}
        {{> SquareButton registration_button }}
    </form>
{{/CenterdFormPage}}
