{{#> CenterdFormPage title="Тестирование" fade=true bordered=true smallHeader=true}}
    <div class="form-div">
            <ul class="ml-1">
            <li><div class="link" id="login-link">Форма входа</div></li>
            <li><div class="link" id="registration-link">Форма регистрации</div></li>
            <li><div class="link" id="profile-link">Профиль</div></li>
            <li><div class="link" id="main-link">Главная страница</div></li>
            <li><div class="link" id="p404-link">Страница 404</div></li>
            <li><div class="link" id="p5xx-link">Страница 5xx</div></li>
            <li><div class="link" id="upload-dialog-link">Диалог загрузки файла</div></li>
            <li><div class="link" id="create-dialog-link">Диалог создания чата</div></li>
            </ul>
        <span style="color: darkgoldenrod; font-size: 90%">Данная страница не является частью проекта и предназначена для<br>
        упрощения тестирования и проверки макетов спринта №1.<br>
        </span>
    </div>
{{/CenterdFormPage}}
