<div>
    <div class="link">
        Нажмите здесь, чтобы загрузить файл
    </div>
    <div id="error" class="div-error"></div>
    <div class="mt-2">
        {{> SquareButton text="Загрузить" className="button button-active" name="upload-button"}}
    </div>
</div>
