@import './inputs/inputs.css';
@import './buttons/buttons.css';
@import './avatar/avatar.css';
@import './left_panel/left_panel.css';
@import './feeds/feeds.css';

.pointer {
  cursor: pointer !important;
}

.main-page-component-header {
  border-bottom: var(--divider-border);
  flex-wrap: nowrap;
  min-width: inherit;
  max-width: inherit;
}
