<div>
    {{> InputText placeholder="Логин пользователя"}}
    <div id="error" class="div-error"></div>
    <div class="mt-2">
        {{> SquareButton text="Создать" className="button button-active" name="add-chat-button"}}
    </div>
</div>
