.text-input {
  margin: 0;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  height: 3rem;
  color: #000000;
  font-size: 14px;
  padding: 0 0 0 15px;
  box-shadow: none;
  min-width: 250px;
}

.text-input:focus, .text-input:hover {
  outline: none;
  border-color: var(--color-primary)
}

.button-active {
  margin: 0;
  border: 0;
  border-radius: 5px;
  height: 2rem;
  color: white;
  background-color: var(--color-secondary);
  font-size: var(--button-font-size);
  padding: 0;
  box-shadow: none;
  min-width: 250px;
  cursor: pointer;
}

.button-active:hover {
  background-color: var(--color-primary);
}

.button-outlined {
  margin: 0;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  height: 2rem;
  color: var(--color-secondary);
  background-color: white;
  font-size: var(--button-font-size);
  padding: 0;
  box-shadow: none;
  min-width: 250px;
  cursor: pointer;
}

.button-outlined:hover {
  color: var(--color-primary);
}

.button-text {
  margin: 0;
  border: 0;
  height: 2rem;
  color: var(--color-secondary);
  background-color: white;
  font-size: var(--button-font-size);
  padding: 0;
  box-shadow: none;
  min-width: 250px;
  cursor: pointer;
}

.button-text:hover {
  color: var(--color-primary);
}
