.mt-1 {
  margin-top: 1vh !important;
}

.mt-2 {
  margin-top: 2vh !important;
}

.mt-3 {
  margin-top: 3vh !important;
}

.mb-1 {
  margin-bottom: 1vh !important;
}

.ml-1 {
  margin-left: 1vw !important;
}

.ml-2 {
  margin-left: 2vw !important;
}
