.mt-1 {
  margin-top: 1vh !important;
}

.mt-2 {
  margin-top: 2vh !important;
}

.mt-3 {
  margin-top: 3vh !important;
}

.mb-1 {
  margin-bottom: 1vh !important;
}

.mb-2 {
  margin-bottom: 2vh !important;
}

.ml-1 {
  margin-left: 1vw !important;
}

.ml-2 {
  margin-left: 2vw !important;
}

.flex-centered-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex-align-left {
  align-items: flex-start;
}
