.p-2 {
  line-height: 2em;
}

.bold {
  font-weight: 600;
}

.nobold {
  font-weight: 400 !important;
}

.text-error {
  color: var(--color-error)
}

.text-grey {
  color: var(--color-grey) !important;
}

.text-italic {
  font-style: italic;
}
