{{#> CenterdFormPage title="Профиль" fade=true bordered=true smallHeader=true}}
    <form class="form-div" onsubmit="return false;">
        <div class="flex flex-justify-center">
            {{> Avatar avatar }}
        </div>
        {{> InputText login }}
        {{> InputText password }}
        {{> InputText password2 }}
        {{> InputText first_name }}
        {{> InputText second_name }}
        {{> InputText email }}
        {{> InputText phone }}
        {{> SquareButton save_button }}
    </form>
{{/CenterdFormPage}}
