{{#> CenterdFormPage title="Профиль" fade=true bordered=true smallHeader=true}}
    <div class="form-div">
        {{> Avatar avatar }}
        {{> InputText login }}
        {{> InputText password }}
        {{> InputText password2 }}
        {{> InputText first_name }}
        {{> InputText second_name }}
        {{> InputText email }}
        {{> InputText phone }}
        {{> SquareButton save_button }}
    </div>
{{/CenterdFormPage}}
