<div class="flex avatar-div {{className}}">
    <div class="{{iconClass}}">
        {{#if icon }}
            {{icon}}
        {{else}}
            {{> SVGAvatarEmpty }}
        {{/if}}
    </div>
</div>
